$md-ddoopallete: (
        50 : #fbeaea,
        100 : #f6caca,
        200 : #f0a7a7,
        300 : #ea8383,
        400 : #e66969,
        500 : #e14e4e,
        600 : #dd4747,
        700 : #d93d3d,
        800 : #d53535,
        900 : #cd2525,
        A100 : #ffffff,
        A200 : #ffd5d5,
        A400 : #ffa2a2,
        A700 : #ff8989,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
